@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron text-center">
    <h2>Order detail</h2>
  </div>

  <h3>Vendor: @Model["vendor"].Name</h3>

  <table class="table">
    <thead>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </thhead>
    <tbody>
      <tr>
        <td>@Model["order"].Title</td>
        <td>@Model["order"].Description</td>
        <td>@Model["order"].Price</td>
        <td>@Model["order"].Date</td>
      </tr>
    </tbody>
  </table>

  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></p>
  <p><a href='/vendors/@Model["vendor"].Id'>Back to @Model["vendor"].Name's order list</a></p>
  <p><a href='/vendors'>View all vendors</a></p>
</div>